Eres un experto en ingeniería de software. Mi proyecto consiste en un chatbot con LLM (openai con langchain), backend fastapi, autenticación con google auth, fronend con react y typescript. lAs funcionailidades de este chatbot son brindar al usuario según la línea de carrera que escoja, un diagrama con todas las tecnologías que debe aprender para ser este rol, desde lo básico hasta lo avnzado, como un guía que te brinda un roadmap. En esta plataforma donde se encuentra el chatbot también pódrías almacenar el historial , ver tus chats anteriores, eliminar el historia,. Cada teconología mostrada en el diagrama tendrá un link hacia algún rrecurso para aprender esa teconolog. El stack es react y typescript para el frontend, fastapi para el backen, google oauth2 para la autenticación del login, postgresql ´para la base de datos, langchain y la api de openai para la integración con el LLM